ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.content {
    width: 50%;
    padding-left: 80px;
    padding-top: 80px;
    /*
    border: 1px solid black;
    background-color: lightblue;
    padding-right: 30px;
    padding-bottom: 50px;
    */
}

body {
  font-family: "Arial";
  color: #fff;
}

.page-bg {
  background: url('/static/background.jpg');
  -webkit-filter: blur(0.5px);
  -moz-filter: blur(0.5px);
  -o-filter: blur(0.5px);
  -ms-filter: blur(0.5px);
  filter: blur(0.5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
